.grid-container {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        gap: .5rem;
        padding: .5rem;
    }
}