.header {
    background: url('../img/header-bg.jpg') top center no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header > h1 {
    font-weight: 100;
}

.header > h1 > span {
    font-family: inherit; /* hereda la propiedad del padre */
    display: block; /* lo muestra como bloque independiente*/
    font-weight: 700;
}

.header > .tagline {
    font-size: 1.25rem;
    /* text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8);  una pequeña sombra semitransparente para resaltar el texto */
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8),
                -1px 1px 1px rgba(255, 255, 255, 0.8),
                 1px -1px 1px rgba(255, 255, 255, 0.8),
                -1px -1px 1px rgba(255, 255, 255, 0.8); /* sombra alrededor para destacar */
}

.header > h1, .header > .tagline {
    background-color: rgba(255, 255, 255, 0.5); /* rgba para transparencia */
    margin: 0;
    padding: 1rem; /* agrega espacio para el texto */
    text-align: center;    
}

@media all and (min-width: 768px) {
    .header > h1, .header > .tagline {
        background-color: transparent;
        text-align: left;
        margin-left: 50%;
    }
}