.main {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0;
}

.que-hago__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.que-hago__titulo {    
    width: 100%;
    text-align: center;
}

.que-hago__item {
    width: 40%
}