.navbar {
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;
    height: var(--navbar-height);
    z-index: 100;
}

.navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    /* text-align: center; /* como está inline se puede centrar el texto */
    float: right;
    margin-right: 1rem;
}

.navbar-item {
    display: inline-block;
    margin: 0;
    /* height: var(--navbar-height); no es necesario ya que toma el alto de la línea de <a>*/
}

.navbar-item > a {
    display: inline-block;
    color: white;
    text-decoration: none;
    /* height: var(--navbar-height); no es necesario ya que toma el alto de la línea de <a>*/
    line-height: var(--navbar-height);
    padding: 0 1rem;
}

.navbar-item a:hover {
    background-color: #666666;
}