.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);
    background-color: #fff;
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.navbar__logo {
    font-family: juego-tronos, 'Times New Roman', Times, serif;
    
    /* al poner position fixed lo saco del flujo */
    /* por lo tanto hay que situarlo en el espacio */
    /* position: fixed; 
    top: 0;          
    left: 0;
    width: 100%;*/

    text-align: center;
    line-height: var(--navbar-height);
}

.navbar__burger-label {
    width: var(--navbar-height);
    height: var(--navbar-height);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 40px;
}

.navbar__burger-label::before {
    content: '';
    background-color: darkgray;
    width: 1em;
    height: .1em;
    position: absolute;
    top: 0.25em;
    left: 0.1em;
    box-shadow: 0 0.25em 0 0 darkgray,
                0 0.5em 0 0 darkgray;
}

/* menú cerrado */
.navbar__list {
    display: none;
    display: flex;
    margin: 0;
}

/* menú abierto */ 
.navbar__list-open {
    list-style: none;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--dark-color);
    opacity: .9;
    padding: 0;
    height: calc(100vh - var(--navbar-height));
}

.navbar__item > a {
    text-decoration: none;
    color: azure;
    line-height: 3rem;
    display: block;
    text-align: center;
    font-size: 2rem;
}

@media all and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        
    }
    
    .navbar__logo {
        margin: 0 1rem;
    }
    
    .navbar__burger-label {
        display: none;
    }

    .navbar__list {       
        flex-grow: 1;        
        justify-content: flex-end;
        flex-direction: row;
        background-color: #fff;
        height: var(--navbar-height);
    }

    .navbar__item > a {
        color: var(--dark-color);
        /* line-height: var(--navbar-height);*/
        padding: 0 1rem;
        font-size: inherit;
    }

    .navbar__item a:hover {
        background-color: var(--dark-color);
        color: azure;
    }
}