@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --max-width: 60%;
    --navbar-height: 50px;
    --dark-color: #222222;
}

* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: juego-tronos;
    src: url('../fonts/gt.ttf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: juego-tronos, 'Times New Roman', Times, serif; 
}

