@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --max-width: 900px;
    --navbar-height: 50px;
    --dark-color: #222222;
}

* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: juego-tronos;
    src: url('../fonts/gt.ttf');
}

h1 {
    font-family: juego-tronos, 'Times New Roman', Times, serif; 
    text-align: center;
}

h2, h3, h4, h5, h6 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.main {
    max-width: var(--max-width);
    margin: 0 auto;
}

.section {
    padding: 3rem 1rem;
}

.section.inverted { /*sin espacio entre las clases para hacer un AND */
    background-color: lightcyan;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}
